.row {
    display: flex;
    flex-direction: row;
    
    /* justify-content: center;
    align-items: center; */

    justify-items: center;

    width: 100%;
    height: 500px;

    border: 1px solid black;
}

.row div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.three {
    align-self: center;
}
