.container {
    display: inline-block;
    border: 1px red solid;
    width: 400px;
    text-align: center;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px black solid;
    display: inline;
}

span {
    border: 1px solid black;
}